@import "tailwindcss";

.slide__item .side__img__1 {
  animation: transform_x_1 10s linear;
  transform: translateX(3%);
}

@keyframes transform_x_1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(3%);
  }
}

.slide__item .side__img__2 {
  animation: transform_x_2 10s linear;
  transform: translateX(5%);
}

@keyframes transform_x_2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(5%);
  }
}


.slide__item .side__img__3 {
  animation: transform_x_3 10s linear;
  transform: translateX(-5%);
}

@keyframes transform_x_3 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-5%);
  }
}

.slide__item .side__img__4 {
  animation: transform_x_4 10s linear;
  transform: translateX(-4%);
}

@keyframes transform_x_4 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-4%);
  }
}





.slide__item .side__img .scale__img {
  animation: scale 10s linear;
  transform: scale(1.25);
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.25);
  }
}

.slide__item .side__img__2 .scale__img {
  animation: scale-2 10s linear;
  transform: scale(1.15);
}

@keyframes scale-2 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

.slide__item .side__img__3 .scale__img {
  animation: scale-3 10s linear;
  transform: scale(1.35);
}

@keyframes scale-3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.35);
  }
}

.main_img_scale {
  animation: main-scale 10s linear;
  transform: scale(1.15);
}

@keyframes main-scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

.heading_animate {
  animation: heading 10s linear;
  transform: translate(-40%, -100%) scale(1.2);
}

@keyframes heading {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-40%, -100%) scale(1.2);
  }
}

.noisy {
  background-image: url("/public/noise.png");
  transform: scale(1.5);
  animation: noise 10s linear;
  will-change: transform;
}

@keyframes noise {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}